@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
	/* border: 0.5px solid red; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
footer,
header,
hgroup,
menu,
section {
	width: 100%;
	display: flex;
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1;
	min-height: 100vh;
}
header,
footer {
	padding: 1vh 2vw;
	justify-content: space-between;
	align-items: center;
}

section {
	padding: 2.5vh 5vw;
	flex-direction: column;
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
section#abstract {
	/* margin-top: 7.5vh; */
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
img,
video {
	object-fit: cover;
	object-position: center;
	/* background-color: #e4e4e4; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	text-transform: uppercase;
	font-family: "Quando", serif;
}

div.title {
	display: flex;
	flex-direction: column;
	margin: 1em;
}
div.title .title,
div.title .sub-title {
	margin: auto;
}
section h1.title,
section h2.sub-title {
	font-family: "Quando", serif;
	font-weight: 400;
	width: fit-content;
	position: relative;
	text-align: center;
}
section h1.title {
	font-size: 3.5vh;
}
section h2.sub-title {
	font-size: 2vh;
}
section h1.title::before {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	width: 100%;
	padding: 1%;
	height: 110%;
	border: 1px solid rgb(0, 0, 0);
	/* border-top: 0; */
	border-left: 0;
	border-right: 0;
}
h2.sub-title {
	line-height: 2;
	text-transform: capitalize;
}

p {
	font-weight: 400;
	text-align: justify;
	line-height: 1.5;
	overflow: auto;
	font-size: 2vh;
}

a {
	color: #000;
	text-decoration: none;
}

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

p::-webkit-scrollbar,
div::-webkit-scrollbar {
	width: 1vh;
	height: 1vh;
}

p::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
	background-color: lightgray;
}

p::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
	background-color: #2447f9;
}
