@import url("default.css");
@import url("keyframes.css");
@import url("home.css");
@import url("https://unpkg.com/swiper/swiper-bundle.min.css");

body {
	/* width: 100%; */
	background-color: #f6f8fd;
}

/* Header */
header {
	background-color: #ffff;
	/* position: fixed; */
	top: 0;
	z-index: 999;
}
header h1 {
	width: 0;
	font-size: 1.5vh;
	font-family: inherit;
	color: inherit;
}
nav {
	display: flex;
}
nav a {
	font-family: inherit;
	color: inherit;
	display: flex;
	width: 15vw;
	height: 2vh;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	border-radius: 0.5vh;
	font-size: 1vh;
	font-weight: 600;
	margin-right: 1vw;
}
nav a:last-child {
	margin-right: 0;
}
nav a:hover {
	background-color: rgb(236, 236, 236);
}
.btn {
	font-weight: 600;
	color: white;
	background-color: #2447f9;
}
.nav:hover,
.nav:active {
	background-color: rgba(243, 244, 246, 1);
	animation: wiggle 1s ease-in-out infinite;
}
.btn:hover,
.btn:active {
	background-color: #162b96;
}
/* end header */

/* footer */
footer {
	color: #ffff;
	background-color: #2447f9;
}
footer a {
	font-size: 1vh;
	font-family: inherit;
	color: inherit;
	display: flex;
	align-items: center;
	font-weight: 500;
}
footer i {
	margin-left: 0.5vw;
}

/* end footer */

/* home */
#home {
	height: 100vh;
}

#slide,
#home,
#slide-show {
	position: relative;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
}
#home {
	padding: 0;
	justify-content: center;
}
#home i {
	position: absolute;
	z-index: 999;
	color: white;
	font-size: 5vw;
	margin: 2vw;
	opacity: 0.2;
	transition: opacity 0.5s;
}
#home i:hover {
	opacity: 1;
}
.fa-chevron-circle-left {
	left: 0;
}
.fa-chevron-circle-right {
	right: 0;
}
#slide {
	position: absolute;
}

#slide .slide-anim-1 {
	width: 10%;
	height: 10%;
	animation: cb-up 0.2s ease-in-out forwards;
}
#slide .slide-anim-1:nth-child(even) {
	animation: cb-up 0.4s ease-in-out forwards;
}
#slide .slide-anim-1:nth-child(7n + 3) {
	animation: cb-up 0.6s ease-in-out forwards;
}
#slide .slide-anim-2 {
	width: 10%;
	height: 10%;
	animation: cb-left 0.2s ease-in-out forwards;
}
#slide .slide-anim-2:nth-child(even) {
	animation: cb-left 0.4s ease-in-out forwards;
}
#slide .slide-anim-2:nth-child(7n + 3) {
	animation: cb-left 0.6s ease-in-out forwards;
}
#home #title-box {
	position: absolute;
}
#home .head {
	font-size: 13vw;
	height: fit-content;
	font-family: "Montserrat", sans-serif;
	height: fit-content;
	margin-bottom: 0.1vh;
	font-weight: 600;
}
#home .desc {
	font-size: 6vw;
	height: fit-content;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	height: fit-content;
}

#home .box {
	font-family: sans-serif;
	position: relative;
	max-width: 70%;
	color: white;
	margin: auto;
	padding: 2.5%;
	animation: fadeIn 1s ease-in-out forwards;
}

#home .left {
	margin: auto;
	margin-left: 10vw;
}
#home .right {
	margin: auto;
	margin-right: 10vw;
}
#home .mid .head,
#home .mid .desc {
	clip-path: inset(0 50% 0 50%);
	animation: cropMid 0.5s ease-in-out forwards;
	animation-delay: 0.5s;
}
#home .left .head,
#home .left .desc {
	clip-path: inset(0 50% 0 50%);
	animation: cropLeft 0.5s ease-in-out forwards;
	animation-delay: 0.5s;
}
#home .right .head,
#home .right .desc {
	clip-path: inset(0 50% 0 50%);
	animation: cropRight 0.5s ease-in-out forwards;
	animation-delay: 0.5s;
}
#home .mid::before {
	content: "";
	position: absolute;
	border-top: 1.5vw solid rgb(255, 153, 0);
	border-right: 1.5vw solid rgb(255, 153, 0);
	animation: rb-mid 1s ease-in-out forwards;
}
#home .mid::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 25%;
	height: 50%;
	border-bottom: 1.5vw solid rgb(255, 153, 0);
	border-left: 1.5vw solid rgb(255, 153, 0);
	animation: lb-mid 1s ease-in-out forwards;
}

#home .left::before {
	content: "";
	position: absolute;
	top: 0;
	border-right: 1.5vw solid rgb(255, 153, 0);
	animation: lb 1s ease-in-out forwards;
}
#home .right::before {
	content: "";
	position: absolute;
	top: 0;
	border-right: 1.5vw solid rgb(255, 153, 0);
	animation: rb 1s ease-in-out forwards;
}
/* end home */
/* Profil */
#profil {
	justify-content: space-between;
}
#profil .content {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#profil .content p {
	margin-top: 2em;
	max-height: 40vh;
	padding: 0 1rem;
}

#profil .data {
	display: flex;
	width: 100%;
}
#profil .data ul {
	text-align: center;
	flex: 1;
}
#profil video {
	margin-bottom: 1em;
	width: 100%;
}
.data ul li.head {
	font-size: 2.5vh;
	font-weight: 700;
	line-height: 1;
}

.data ul li.body {
	font-weight: 400;
	line-height: 1.5;
	font-size: 1.5vh;
}
/* end profil */

/* Potensi */
#potensi {
	background: url("../img/background/potensi.jpg");
	min-height: 0;
}

/* galeri */
#galeri {
	min-height: 0;
}
.galeri-card {
	border: 1px solid black;
	padding: 15px;
	background: #ffffff;
	border-radius: 20px;
	margin: 2em 0;
	cursor: pointer;
}
.galeri-card img {
	border-radius: inherit;
	width: 100%;
	height: 10em;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.galeri-card div.title {
	margin: 1em 0 0 0;
}
.galeri-card p {
	font-size: 75%;
}
.swiper-button-next {
	right: 0;
}
.swiper-button-prev {
	left: 0;
}
.swiper-slide {
	background: transparent;
}
.swiper-slide .galeri-card {
	width: 80%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 20px;
}
/* end galeri */

/* testimonial */
#testimonial {
	background-image: url("../img/background/testi.png");
	color: #ffffff;
}
#testimonial h1.title::before {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	width: 100%;
	padding: 1%;
	height: 110%;
	border: 1px solid rgb(255, 255, 255);
	/* border-top: 0; */
	border-left: 0;
	border-right: 0;
}
/* #testimonial h1.title::before {
	border: 1px solid rgb(255, 255, 255);
	border-right: 0;
} */
#testimonial h3 {
	text-transform: capitalize;
	margin-top: 1em;
}

#people #avatar {
	overflow-y: auto;
	display: flex;
	padding: 2vh 1vw;
	flex-wrap: nowrap;
	cursor: pointer;
}
#people #avatar.active {
	cursor: grabbing;
}
#avatar img {
	object-fit: cover;
	min-width: 7.5vh;
	min-height: 7.5vh;
	max-width: 7.5vh;
	max-height: 7.5vh;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 2%;
	filter: blur(5px);
}
#avatar img.active {
	filter: blur(0);
}
#avatar img:first-child {
	margin-left: 0;
}
#avatar img:last-child {
	margin-right: 0;
}
#people li {
	margin: 1em 0;
}

/* end testimonial */

/* EDUKASI HTML */
.e-card-container {
	width: calc(100%);
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.e-card {
	display: flex;
	border-radius: 10px;
	margin: 25px auto;
	padding: 0.5em;
	background-color: #2447f9;
	cursor: pointer;

	min-width: 0%;
	transition: all 0.5s ease;
}
.e-card .head {
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}
.e-card img {
	border-radius: inherit;
	width: 100px;
	margin-bottom: 0.5em;
}
.e-card h2 {
	font-weight: 550;
}
.e-card .body {
	width: 0;
	min-height: 0;
	max-height: 0;
	flex: 1;
	overflow: hidden;
}

.e-card li {
	display: flex;
}
.e-card .body li a {
	font-size: small;
	flex: 1;
	border-radius: 0;
	padding: 1em;
	background-color: rgb(255, 253, 250);
	/* white-space: nowrap; */
}
.e-card .body li a:hover {
	background-color: rgb(235, 233, 231);
}
.e-card .body li a:active {
	background-color: rgb(199, 198, 196);
}

div.e-card:hover {
	min-width: 100%;
	transition: all 0.5s ease;
}
.e-card:hover {
	box-shadow: 0 0 1vh black;
}
div.e-card:hover > .body {
	margin-left: 0.5em;
	max-height: 100%;
	transition: all 0.5s ease;
}

/* END EDUKASI HTML */

/* ARTIKEL HTML */
#abstract,
.materi,
.content {
	min-height: 0;
	padding-top: 0;
}
#abstract img {
	/* width: 100%; */
	object-fit: contain;
	height: 50vh;
	margin: 1.5em 0;
}
#abstract p {
	text-indent: 2.5em;
}

.materi .content {
	width: 100%;
	color: white;
	padding: 0;
}
.materi .content p {
	text-indent: 2.5em;
}
.materi .content div.container {
	height: 53vh;
	border-radius: 1em;
	background-color: #ff701f;
	position: relative;
}
.materi .content div.swiper-slide {
	display: flex;
	flex-direction: column;
	height: 50vh;
	border-radius: 1em;
	padding: 0.5em;
}
.materi .content div.swiper-slide i {
	position: absolute;
	font-size: x-large;
	top: 2.5em;
}
.materi .content div.swiper-slide i.l {
	left: 0.5em;
}
.materi .content div.swiper-slide i.r {
	right: 0.5em;
}
.materi .content div.swiper-slide img {
	border-radius: inherit;
	margin: 0 auto;
	height: 50%;
	/* width: 7.5em; */
}
.materi .content div.swiper-slide h2.title {
	margin: 0.5em auto;
}
.materi .content div.container::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 1.5em solid #ff701f;
	border-left: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-right: 1.5em solid transparent;
	top: 100%;
	left: 50%;
	margin-top: -1%;
	margin-left: -1.5em;
}

.materi .content img.maskot {
	margin-top: 0;
	padding: auto;
	width: 100%;
	height: 40vh;
	object-fit: contain;
	background: transparent;
}
/* END ARTIKEL HTML */
@media only screen and (orientation: landscape) {
	p {
		font-size: 1.5vw;
	}
	section h1.title {
		font-size: 2.5vw;
	}
	section h2.sub-title {
		font-size: 1.5vw;
	}
	header h1 {
		width: fit-content;
		font-size: 1.5vw;
	}
	nav a {
		width: 10vw;
		height: 2vw;
		font-size: 1vw;
		border-radius: 0.5vw;
	}
	footer a {
		font-size: 1vw;
	}
	#home i {
		font-size: 5vh;
	}
	#home .head {
		font-size: 10vh;
	}
	#home .desc {
		font-size: 4vh;
	}
	#home .mid::before {
		border-top: 1.5vh solid rgb(255, 153, 0);
		border-right: 1.5vh solid rgb(255, 153, 0);
	}
	#home .mid::after {
		border-bottom: 1.5vh solid rgb(255, 153, 0);
		border-left: 1.5vh solid rgb(255, 153, 0);
	}

	#home .left::before {
		border-right: 1.5vh solid rgb(255, 153, 0);
	}
	#home .right::before {
		border-right: 1.5vh solid rgb(255, 153, 0);
	}
	#profil {
		justify-content: space-around;
	}

	#profil .content {
		flex-direction: row;
	}
	#profil .content p {
		max-height: 20vw;
		margin-top: 0;
	}
	#profil video {
		margin-bottom: 0;
	}
	#profil .content video,
	#profil .content .text {
		width: 50%;
	}
	.data ul li.head {
		font-size: 2.5vw;
		font-weight: 700;
		line-height: 1;
	}

	.data ul li.body {
		font-weight: 400;
		line-height: 1.5;
		font-size: 1.5vw;
	}
	#avatar img {
		object-fit: cover;
		min-width: 7.5vw;
		min-height: 7.5vw;
		max-width: 7.5vw;
		max-height: 7.5vw;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 2%;
	}
	#edukasi {
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.e-card-container {
		width: calc(100% / 3);
	}
	.e-card:hover {
		box-shadow: 0 0 1vw black;
	}
	p::-webkit-scrollbar,
	div::-webkit-scrollbar {
		width: 0.75vw;
		height: 0.75vw;
	}
	.materi {
		min-height: 100vh;
		justify-content: space-around;
		margin: 5vh auto;
	}

	.materi .maskot {
		display: inline-block;
	}

	/* .materi .content .container {
		width: 1000%;
		flex: 1;
		order: 2;
	} */
	/* .materi .content div.container::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-top: 1.5em solid transparent;
		border-left: 1.5em solid transparent;
		border-bottom: 1.5em solid transparent;
		border-right: 1.5em solid #ff701f;
		top: 50%;
		left: -2%;
		margin-top: -1%;
		margin-left: -1.5em;
	} */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
	section h1.title {
		font-size: xx-large;
	}
	section h2.sub-title {
		font-size: large;
	}
	p {
		font-size: medium;
	}
	#profil .content p {
		margin-top: 1em;
	}
	#profil video {
		margin-bottom: 0.5;
	}

	.data ul li.head {
		font-size: 2rem;
	}
	.data ul li.body {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	#avatar img {
		min-width: 70px;
		min-height: 70px;
		max-width: 70px;
		max-height: 70px;
	}
	.swiper-slide {
		font-size: 5vw;
	}
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
	section h1.title {
		font-size: 3em;
	}
	section h2.sub-title {
		font-size: 2em;
	}
	p {
		font-size: x-large;
	}
	#profil .content .text p {
		max-height: 35vh;
	}
	.data ul li.head {
		font-size: 2.5rem;
	}
	.data ul li.body {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	#avatar img {
		min-width: 90px;
		min-height: 90px;
		max-width: 90px;
		max-height: 90px;
	}
	.swiper-slide {
		font-size: 2.5vw;
	}
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
	#edukasi {
	}

	.e-card-container {
		width: calc(100% / 3);
		border: 1px solid red;
		display: flex;
	}
	.e-card {
		flex-direction: column;
		border-radius: 10px;
		margin: 25px auto;
		padding: 0.5em;
		background-color: #2447f9;
		min-width: 0%;
		transition: all 0.5s ease;
	}
	.e-card .head {
		border-radius: inherit;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
	}
	.e-card img {
		border-radius: inherit;
		width: 100px;
		margin-bottom: 0.5em;
	}
	.e-card h2 {
		font-weight: 550;
	}
	.e-card .body {
		width: 0;
		min-height: 0;
		max-height: 0;
		overflow: hidden;
		margin: 0;
	}

	.e-card li {
		display: flex;
	}
	.e-card .body li a {
		font-size: small;
		flex: 1;
		border-radius: 0;
		padding: 1em;
		background-color: rgb(255, 253, 250);
		white-space: nowrap;
	}

	div.e-card:hover {
		min-width: 100%;
		transition: all 0.5s ease;
	}

	div.e-card:hover > .body {
		margin: 0;
		margin-top: 0.5em;
		min-width: 100%;
		max-height: 100%;
		transition: all 0.5s ease;
	}
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */
